<div class="min-h-screen flex flex-col bg-[inherit]">
  <div class="flex-1 flex flex-col items-center max-w-3xl mx-auto px-4 py-8">
    <!-- TodoList -->
    <app-todo-list></app-todo-list>
  </div>
  <footer class="text-center py-4 mt-auto">
    <p>
      © 2025 | Designed by
      <a
        href="https://github.com/Chr1stopherPerez"
        target="_blank"
        class="px-1 rounded hover:opacity-80 hover:text-[rgb(220,220,220)] transition text-[rgb(76,78,175)]"
      >
        Christopher PEREZ
      </a>
    </p>
  </footer>
</div>

<!-- App.Component.html -->
